*{
    box-sizing: border-box;
}
body {
    background-image:url("../img/background.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 170%;
}
h1{
    margin: 50px;
}
a{
    margin: 10px;
    margin-left: 50px;
}
p{
    margin: 10px;
    margin-left: 50px;
}